In [ ]:
# 🔹 기본 실습 1: Pandas Series 및 DataFrame 생성
# 문제:
#
# 1)Pandas Series를 생성하고 인덱스를 설정하세요.
# Pandas Series:
# A 10
# B 20
# C 30
# D 40
# E 50
# dtype: int64
#
# 2)DataFrame을 생성하고 행과 열의 인덱스를 설정하세요.
# Pandas DataFrame:
# 이름 나이 성별
# ID1 철수 25 남
# ID2 영희 24 여
# ID3 민수 26 남
# ID4 지연 23 여

In [5]:
import numpy as np
import pandas as pd
data = [10,20,30,40,50]
index_labels = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index_labels)
print(series)

data2 = {
    '이름': ['철수','영희','민수','지연'],
    '나이' : [25,24,26,23],
    '성별' : ['남','여','남','여']
}
index_labels2 = ['ID1', 'ID2', 'ID3', 'ID4']
series2 = pd.DataFrame(data2, index=index_labels2)
print(series2)

A    10
B    20
C    30
D    40
E    50
dtype: int64
     이름  나이 성별
ID1  철수  25  남
ID2  영희  24  여
ID3  민수  26  남
ID4  지연  23  여

In [ ]:
# 🔹 기본 실습 2: DataFrame 기본 조작
# 문제:
# 아래의 주어진 표를 DataFrame으로 생성 후,
# 1)describe() 함수를 사용하여 데이터 요약 정보를 확인하세요.
# 2)특정 열을 선택하고 값을 수정하세요.
# 3)새로운 열을 추가하고 값을 설정하세요.
# 예시1)
# 제품명 가격 재고
# 0 노트북 1500000 10
# 1 키보드 50000 50
# 2 마우스 30000 70
# 3 모니터 200000 20
#
# 예시2)
# 수정 후 DataFrame:
# 제품명 가격 재고 할인율 할인가격
# 0 노트북 1500000 10 0.10 1350000.0
# 1 키보드 50000 50 0.05 47500.0
# 2 마우스 35000 70 0.02 34300.0
# 3 모니터 200000 20 0.08 184000.0

In [11]:
data3 = {
    '제품명' : ['노트북','키보드','마우스','모니터'],
    '가격' : [1500000, 50000, 35000, 200000],
    '재고' :[10,50,70,20]
}
df = pd.DataFrame(data3, index=index_labels2)
print(df)
df.describe()
#
df.loc[df['제품명'] == '마우스', '가격'] = 50000
print(df)

df['할인율'] = [0.1, 0.05, 0.02, 0.08]
print(df)
df['할인가격'] = df['가격'] * (1-df['할인율'])
print(df)

     제품명       가격  재고
ID1  노트북  1500000  10
ID2  키보드    50000  50
ID3  마우스    35000  70
ID4  모니터   200000  20
     제품명       가격  재고
ID1  노트북  1500000  10
ID2  키보드    50000  50
ID3  마우스    50000  70
ID4  모니터   200000  20
     제품명       가격  재고   할인율
ID1  노트북  1500000  10  0.10
ID2  키보드    50000  50  0.05
ID3  마우스    50000  70  0.02
ID4  모니터   200000  20  0.08
     제품명       가격  재고   할인율       할인가격
ID1  노트북  1500000  10  0.10  1350000.0
ID2  키보드    50000  50  0.05    47500.0
ID3  마우스    50000  70  0.02    49000.0
ID4  모니터   200000  20  0.08   184000.0

In [ ]:
# 🔹 기본 실습 3: DataFrame 행과 열 조작
# 문제:
# 아래의 주어진 표를 DataFrame으로 생성 후,
# 1)특정 열을 삭제하세요.
# 2)특정 행을 선택하는 .loc[] 및 .iloc[]을 사용하세요.
# 3)Boolean Indexing을 사용하여
# 특정 조건을 만족하는 데이터를 출력하세요.
#
# 예시)
# 이름 성적 출석
# 0 철수 85 True
# 1 영희 90 True
# 2 민수 78 False
# 3 지연 92 True

In [20]:
index= ['ID1', 'ID2', 'ID3', 'ID4']
df = pd.DataFrame({
    '이름' : ['철수','영희','민수','지연'],
    '성적' : [85,90,78,92],
    '출석' : [True,True,False,True]
},index=index)
print(df)
df2 = df.drop(columns=['출석'])
print(df2)

print(df.loc['ID1'])
print(df.iloc[0])

df3 = df[df['성적'] >= 80]
print(df3)
print(df['성적'] >= 80)

     이름  성적     출석
ID1  철수  85   True
ID2  영희  90   True
ID3  민수  78  False
ID4  지연  92   True
     이름  성적
ID1  철수  85
ID2  영희  90
ID3  민수  78
ID4  지연  92
이름      철수
성적      85
출석    True
Name: ID1, dtype: object
이름      철수
성적      85
출석    True
Name: ID1, dtype: object
     이름  성적    출석
ID1  철수  85  True
ID2  영희  90  True
ID4  지연  92  True
ID1     True
ID2     True
ID3    False
ID4     True
Name: 성적, dtype: bool

In [ ]:
# 🔹 응용 실습 1: 항공 운항 데이터 분석
# 문제:
# 주어진 표를 이용하여, 항공 운항 데이터 생성
# 1)항공 운항 데이터에서 지연된 항공편만 필터링하고,
# 2)도착 지연 시간의 평균을 계산하세요.
#
# 예시)
# 항공사 출발지 도착지 출발 지연(분) 도착 지연(분)
# 0 대한항공 서울 도쿄 10 5
# 1 아시아나 부산 상하이 0 0
# 2 제주항공 제주 서울 30 45
# 3 티웨이 서울 제주 15 20
# 4 진에어 광주 부산 5 10

In [23]:
df_flights = pd.DataFrame({
    '항공사' :['대한항공','아시아나','제주항공','티웨이','진에어'],
    '출발지' : ['서울','부산','제주','서울','광주'],
    '도착지' : ['도쿄','상하이','서울','제주','부산'],
    '출발 지연(분)' : [10, 0, 30, 15, 5],
    '도착 지연(분)' : [5, 0, 45, 20, 10],
})
print(df_flights)
delayed_10min_df = df_flights[df_flights['도착 지연(분)'] >= 10]
print(delayed_10min_df)
#
delayed_10min_avg_df = delayed_10min_df['도착 지연(분)'].mean()
print(delayed_10min_avg_df)

    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  아시아나  부산  상하이         0         0
2  제주항공  제주   서울        30        45
3   티웨이  서울   제주        15        20
4   진에어  광주   부산         5        10
    항공사 출발지 도착지  출발 지연(분)  도착 지연(분)
2  제주항공  제주  서울        30        45
3   티웨이  서울  제주        15        20
4   진에어  광주  부산         5        10
25.0

In [ ]:
# 🔹 응용 실습 2: CSV 파일을 읽고 저장하기
# 문제:
# 주어진 flights_data.csv 파일을 참고하여,
#
# 1) CSV 파일에서 데이터를 읽어 DataFrame으로 변환하세요.
# 2) 특정 열을 기준으로 정렬하세요.
# 출발 지연 시간이 긴 순서로 정렬
# 3) 특정 조건을 만족하는 데이터를 필터링하고 새로운 CSV 파일로 저장하세요.
# 특정 조건 필터링 (출발 지연 30분 이상인 항공편)

In [27]:
df = pd.read_csv("flights_data.csv")
print(df)
df_sorted = df.sort_values(by='출발 지연(분)',ascending=False)
print(df_sorted)
filtered_df = df_sorted[df_sorted['출발 지연(분)'] >= 30]
print(filtered_df)
filtered_df.to_csv("filtered_data_20250217.csv")

    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  아시아나  부산  상하이         0         0
2  제주항공  제주   서울        30        45
3   티웨이  서울   제주        15        20
4   진에어  광주   부산         5        10
    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
2  제주항공  제주   서울        30        45
3   티웨이  서울   제주        15        20
0  대한항공  서울   도쿄        10         5
4   진에어  광주   부산         5        10
1  아시아나  부산  상하이         0         0
    항공사 출발지 도착지  출발 지연(분)  도착 지연(분)
2  제주항공  제주  서울        30        45

In [ ]:
# 🔹 응용 실습 3: 데이터 분석 및 통계 계산
# 문제:
# 주어진 flights_data.csv 파일을 참고하여,
# CSV 파일에서 데이터를 읽어 DataFrame으로 변환하세요
#
# 1) groupby()를 사용하여 항공사별 평균 지연 시간을 계산하세요.
# 2) 상관계수를 구하여 출발 지연과 도착 지연의 관계를 분석하세요.
# 3) apply()를 활용하여 사용자 정의 함수로 지연 시간을 조정하세요.
# 3. 사용자 정의 함수 적용 (지연 시간이 30분 이상이면 '긴 지연', 아니면 '보통')

In [32]:
df = pd.read_csv("flights_data.csv")
print(df)
df_delayed = df.groupby('항공사')[['출발 지연(분)','도착 지연(분)' ]].mean()
print(df_delayed)
df_delayed_corr = df[['출발 지연(분)','도착 지연(분)' ]].corr().iloc[0,1]
print(df_delayed_corr)

    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  대한항공  서울  오사카        30        15
2  대한항공  서울   태국        40        35
3  아시아나  부산  상하이         0         0
4  아시아나  부산  필리핀         0         0
5  제주항공  제주   서울        30        45
6   티웨이  서울   제주        15        20
7   진에어  광주   부산         5        10
       출발 지연(분)   도착 지연(분)
항공사
대한항공  26.666667  18.333333
아시아나   0.000000   0.000000
제주항공  30.000000  45.000000
진에어    5.000000  10.000000
티웨이   15.000000  20.000000
0.846102230453832

In [34]:
# 3) apply()를 활용하여 사용자 정의 함수로 지연 시간을 조정하세요.
# # 3. 사용자 정의 함수 적용 (지연 시간이 30분 이상이면 '긴 지연', 아니면 '보통')

def delay_category(minutes):
    return "긴지연" if minutes >=30 else "보통"
df['지연등급'] = df['출발 지연(분)'].apply(delay_category)
print(df)

    항공사 출발지  도착지  출발 지연(분)  도착 지연(분) 지연등급
0  대한항공  서울   도쿄        10         5   보통
1  대한항공  서울  오사카        30        15  긴지연
2  대한항공  서울   태국        40        35  긴지연
3  아시아나  부산  상하이         0         0   보통
4  아시아나  부산  필리핀         0         0   보통
5  제주항공  제주   서울        30        45  긴지연
6   티웨이  서울   제주        15        20   보통
7   진에어  광주   부산         5        10   보통