In [2]:
import numpy as np
import pandas as pd

# Series 정의하기
x = pd.Series([4, 3, 5, 8])
print(x)
print(type(x))
# Series의값만확인하기
print(x.values)
# Series의인덱스만확인하기
print(x.index)
# Series의자료형확인하기
print(x.dtype)

0    4
1    3
2    5
3    8
dtype: int64
<class 'pandas.core.series.Series'>
[4 3 5 8]
RangeIndex(start=0, stop=4, step=1)
int64

In [4]:
data = [100,200,300,400]
index_labels = ['a', 'b', 'c', 'd']
series = pd.Series(data,index=index_labels)
print(series)

a    100
b    200
c    300
d    400
dtype: int64

In [7]:
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
print(obj3)
obj3.name = 'Salary'
obj3.index.name = "Names"
print(obj3)
# index 변경
obj3.index = ['A', 'B', 'C', 'D']
print(obj3)

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64
Names
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: Salary, dtype: int64
A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

In [8]:
 # index 사용
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)
print(x['서울'])
print(x[['서울','부산']])

서울    7
대구    3
부산    5
광주    8
dtype: int64
7
서울    7
부산    5
dtype: int64

In [9]:
#Series 연산
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
y=pd.Series([2,4,5,1], index=['대구','부산','서울','대전'])
print(x+y)

광주     NaN
대구     5.0
대전     NaN
부산     9.0
서울    12.0
dtype: float64

In [10]:
data = {'names': ['민준', '현우', '서연', '동현', '지현'],
'years': [2013, 2014, 2015, 2016, 2015],
'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df=pd.DataFrame(data)
df

  names  years  points
0    민준   2013     1.5
1    현우   2014     1.7
2    서연   2015     3.6
3    동현   2016     2.4
4    지현   2015     2.9

In [12]:
data = {
    '이름' : ['상용1','상용2','상용3'],
    '나이' : [24,25,26],
    '좋아하는 음식' : ['국밥','칼국수','국수']
}
df = pd.DataFrame(data)
df
df.index = ['ID1','ID2','ID3']
df

      이름  나이 좋아하는 음식
ID1  상용1  24      국밥
ID2  상용2  25     칼국수
ID3  상용3  26      국수

In [14]:
data=[['민준','현우','서연','동현','지현'],
      [2013,2014,2015,2016,2015],
      [1.5,1.7,3.6,2.4,2.9]]
data1=zip(data[0],data[1],data[2])
print(data1)
df=pd.DataFrame(data1,columns=['names','years','points'])
df
df.describe()

<zip object at 0x00000180D4F15C00>

             years    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [43]:
df = pd.DataFrame({
    '가격':[1000,1500,2000,2500,3000],
    '판매량' :[10,15,20,25,30],
})
df
df['판매량'] = df['판매량'] * 2
df
df['총액'] = df['가격'] * df['판매량']
df
# del df['총액']
df
# 행으로 접근, loc[]:라벨이름
# 행으로 접근, iloc[]:인덱스 번호로 접근
print("행으로 추출")
print(df[0:3])
print("행으로 추출2")
print(df.loc[1])
print("행, 열로 추출3")
print(df.iloc[0:3,1])
print("필터 추출4")
print(df['가격']>2000)
print("필터 추출5")
print(df.loc[df['가격']>2000,:])
print("필터 추출6")
# print(df.loc[df['가격']>2000,['판매량','총액']])
print(df.loc[df['가격']>2000,:])
print("상관 관계")
df['가격'].corr(df['판매량'])

행으로 추출
     가격  판매량     총액
0  1000   20  20000
1  1500   30  45000
2  2000   40  80000
행으로 추출2
가격      1500
판매량       30
총액     45000
Name: 1, dtype: int64
행, 열로 추출3
0    20
1    30
2    40
Name: 판매량, dtype: int64
필터 추출4
0    False
1    False
2    False
3     True
4     True
Name: 가격, dtype: bool
필터 추출5
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000
필터 추출6
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000
상관 관계

np.float64(1.0)

In [37]:
df = pd.DataFrame(
    {
        '이름' : ['철수', '영희','민수','지수'],
        '점수' : [ 90, None, 85, 88]
    }
)
df
drop_df = df.dropna()
fill_df = df.fillna(value=0)
print(f"drop_df : {drop_df}")
print(f"fill_df : {fill_df}")

drop_df :    이름    점수
0  철수  90.0
2  민수  85.0
3  지수  88.0
fill_df :    이름    점수
0  철수  90.0
1  영희   0.0
2  민수  85.0
3  지수  88.0

In [42]:
df2=pd.DataFrame(np.random.randn(6,4),
columns=["A", "B", "C", "D"],
index=pd.date_range("20160701",periods=6))
df2
df2['A'].corr(df2['B'])

np.float64(-0.7390798851326269)

In [45]:
df = pd.DataFrame(
    {
        '상품명' : ["a","b","c","d"],
        '가격' : [ 5000,2000,8000,6000]
    }
)
df
# 가격을 기준으로 오름차순, 정렬,
sort_df1 = df.sort_values(by='가격', ascending=False)
sort_df2 = df.sort_values(by='가격', ascending=True)
print(f"sort_df1 : {sort_df1}")
print(f"sort_df2 : {sort_df2}")

sort_df1 :   상품명    가격
2   c  8000
3   d  6000
0   a  5000
1   b  2000
sort_df2 :   상품명    가격
1   b  2000
0   a  5000
3   d  6000
2   c  8000

In [50]:
# df.groupby('열이름').집계함수(),
# 집계함수(), sum(), mean(), count(), max(), min()
df = pd.DataFrame({
    '카테고리' : ['과일','과일','음료','음료', '과일'],
    '상품명': ['사과','바나나','콜라', '주스', '포도'],
    '가격' : [ 3000, 2000, 1500, 2500, 4000]
})
df
df_grouped_sum = df.groupby('카테고리')['가격'].sum()
print(df_grouped_sum)
df_grouped_count = df.groupby('카테고리')['가격'].count()
print(df_grouped_count)
df_grouped_mean = df.groupby('카테고리')['가격'].mean()
print(df_grouped_mean)

카테고리
과일    9000
음료    4000
Name: 가격, dtype: int64
카테고리
과일    3
음료    2
Name: 가격, dtype: int64
카테고리
과일    3000.0
음료    2000.0
Name: 가격, dtype: float64

In [51]:
input_file = r"D:\0-python-work-pycacharmPro-ver\ch7-numpy-pandas-matplotlib\mini_ratings.csv"
output_file = r"D:\0-python-work-pycacharmPro-ver\ch7-numpy-pandas-matplotlib\output_2025_02_17_2.csv"
# input_file="d:/data/input.csv"
# output_file="d:/data/output1.csv"
#nuwline='' 개행문자를 무시하고 읽음, 이옵션이 없으면 빈라인이 추가됨
with open(input_file,'r', newline='')as reader:
    with open(output_file,'w',newline='')as writer:
        header=reader.readline()  #첫줄을 읽음(헤더)
        header=header.strip()
        #strip() :문자열 좌우 공백,탭,개행문자 제거
        header_list=header.split(',') #","를 기준으로 문자열을 나눠서 리스트르 리턴
        print(header_list)
        # header_list의 각문자 사이에 쉼표를 사입하고 리스트를 문자열로 변환
        # map(str,list) : list 요소를 String 으로 설정
        #''.join(list) : list의 요소를 ","를 삽입하여 연결
        writer.write(','.join(map(str,header_list))+'\n') #파일에 기록
        for row in reader:
            row=row.strip()
            row_list=row.split(',')
            print(row_list)
            writer.write(','.join(map(str,row_list))+'\n')

['userId', 'movieId', 'rating']
['3', '6', '3.7']
['5', '10', '3.1']
['3', '2', '2.7']
['1', '9', '1.7']
['3', '8', '2.4']
['2', '6', '3.2']
['2', '5', '3.5']
['3', '7', '3.1']
['3', '9', '3.4']
['4', '7', '3.1']
['5', '9', '5.0']
['4', '10', '3.6']
['2', '4', '3.9']
['1', '6', '1.0']
['3', '5', '3.3']
['1', '6', '1.8']
['5', '3', '1.7']
['1', '8', '4.7']
['4', '5', '3.4']
['3', '6', '3.2']

In [52]:
input_file = r"D:\0-python-work-pycacharmPro-ver\ch7-numpy-pandas-matplotlib\mini_ratings.csv"
output_file = r"D:\0-python-work-pycacharmPro-ver\ch7-numpy-pandas-matplotlib\output_2025_02_17_2.csv"
#csv 파일을 읽어서 데이터프레임양식으로저장
data_frame=pd.read_csv(input_file)
print(data_frame)
# 데이터프레임데이터를csv로저장
data_frame.to_csv(output_file,index=False)

    userId  movieId  rating
0        3        6     3.7
1        5       10     3.1
2        3        2     2.7
3        1        9     1.7
4        3        8     2.4
5        2        6     3.2
6        2        5     3.5
7        3        7     3.1
8        3        9     3.4
9        4        7     3.1
10       5        9     5.0
11       4       10     3.6
12       2        4     3.9
13       1        6     1.0
14       3        5     3.3
15       1        6     1.8
16       5        3     1.7
17       1        8     4.7
18       4        5     3.4
19       3        6     3.2